Repository MicrosoftDocs/data-integration, pull requests merged in 2023-07, with the labels that each got.

#242 Clarify LB behavior with multiple gateways
  data-integration/vnet/high-availability-load-balancing.md
Labels: virtual-network-data-gateway/svc, Change sent to author, qualifies-for-auto-merge, ready-to-merge

#244 Correct max number of gateways per cluster
  data-integration/vnet/high-availability-load-balancing.md
Labels: virtual-network-data-gateway/svc, do-not-merge, Change sent to author, qualifies-for-auto-merge

#252 Update question about insufficient permissions
  data-integration/vnet/data-gateway-faqs.yml
Labels: virtual-network-data-gateway/svc, do-not-merge, Change sent to author, needs-human-review

#253 Remove extra step for subnet creation
  data-integration/vnet/create-data-gateways.md
Labels: virtual-network-data-gateway/svc, do-not-merge, Change sent to author, qualifies-for-auto-merge
