Repository MicrosoftDocs/data-integration, pull requests merged in 2024-01, with the labels that each got.

#313 Update Gateway requirements
  data-integration/gateway/service-gateway-install.md
Labels: Change sent to author, qualifies-for-auto-merge, ready-to-merge, on-premises-data-gateway/svc

#295 Update create-data-gateways.md
  data-integration/vnet/create-data-gateways.md
Labels: virtual-network-data-gateway/svc, do-not-merge, Change sent to author, qualifies-for-auto-merge

#314 Update service-gateway-high-availability-clusters.md
  data-integration/gateway/service-gateway-high-availability-clusters.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, on-premises-data-gateway/svc
